Repository rodaquino-OMNI/onboarding-next-zq3v3u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @austa-platform/core-team, @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads, @austa-platform/compliance-team, @austa-platform/integration-team, @austa-platform/frontend-team, @austa-platform/devops-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/session.php
  src/backend/config/session.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/view.php
  src/backend/config/view.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/factories/DocumentFactory.php
  src/backend/database/factories/DocumentFactory.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/factories/EnrollmentFactory.php
  src/backend/database/factories/EnrollmentFactory.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/factories/HealthRecordFactory.php
  src/backend/database/factories/HealthRecordFactory.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/factories/InterviewFactory.php
  src/backend/database/factories/InterviewFactory.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/factories/UserFactory.php
  src/backend/database/factories/UserFactory.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/migrations/2014_10_12_000000_create_users_table.php
  src/backend/database/migrations/2014_10_12_000000_create_users_table.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
  src/backend/database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/migrations/2023_01_01_000001_create_enrollments_table.php
  src/backend/database/migrations/2023_01_01_000001_create_enrollments_table.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/migrations/2023_01_01_000002_create_documents_table.php
  src/backend/database/migrations/2023_01_01_000002_create_documents_table.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/migrations/2023_01_01_000003_create_health_records_table.php
  src/backend/database/migrations/2023_01_01_000003_create_health_records_table.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/migrations/2023_01_01_000004_create_interviews_table.php
  src/backend/database/migrations/2023_01_01_000004_create_interviews_table.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/database/seeders/DatabaseSeeder.php
  src/backend/database/seeders/DatabaseSeeder.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/docker/nginx/default.conf
  src/backend/docker/nginx/default.conf
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/docker/php/php.ini
  src/backend/docker/php/php.ini
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/docker/supervisord/supervisord.conf
  src/backend/docker/supervisord/supervisord.conf
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/kubernetes/configmap.yaml
  src/backend/kubernetes/configmap.yaml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/kubernetes/deployment.yaml
  src/backend/kubernetes/deployment.yaml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/kubernetes/hpa.yaml
  src/backend/kubernetes/hpa.yaml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/kubernetes/ingress.yaml
  src/backend/kubernetes/ingress.yaml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/kubernetes/secret.yaml
  src/backend/kubernetes/secret.yaml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/kubernetes/service.yaml
  src/backend/kubernetes/service.yaml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/lang/en/auth.php
  src/backend/lang/en/auth.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/lang/en/pagination.php
  src/backend/lang/en/pagination.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/lang/en/passwords.php
  src/backend/lang/en/passwords.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/lang/en/validation.php
  src/backend/lang/en/validation.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/lang/pt-BR/auth.php
  src/backend/lang/pt-BR/auth.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/lang/pt-BR/pagination.php
  src/backend/lang/pt-BR/pagination.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/lang/pt-BR/passwords.php
  src/backend/lang/pt-BR/passwords.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/lang/pt-BR/validation.php
  src/backend/lang/pt-BR/validation.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/public/.htaccess
  src/backend/public/.htaccess
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/public/index.php
  src/backend/public/index.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/public/robots.txt
  src/backend/public/robots.txt
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/resources/views/emails/enrollment-completed.blade.php
  src/backend/resources/views/emails/enrollment-completed.blade.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/resources/views/emails/interview-scheduled.blade.php
  src/backend/resources/views/emails/interview-scheduled.blade.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/routes/api.php
  src/backend/routes/api.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/routes/channels.php
  src/backend/routes/channels.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/routes/console.php
  src/backend/routes/console.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/routes/web.php
  src/backend/routes/web.php
Owners: @austa-platform/core-team

.github/CODEOWNERS:

# Requires at least one core team review
* @austa-platform/core-team

# Backend API Controllers - Security critical
src/backend/app/Http/Controllers/API/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/tech-leads

# Authentication & Authorization Services
src/backend/app/Services/Auth/ @austa-platform/security-team @austa-platform/compliance-team

# EMR Integration Services - HIPAA compliance
src/backend/app/Services/EMR/ @austa-platform/integration-team @austa-platform/compliance-team

# Video Conferencing Services
src/backend/app/Services/Video/ @austa-platform/integration-team @austa-platform/security-team

# Frontend Enrollment Components - GDPR/LGPD compliance
src/web/src/app/components/enrollment/ @austa-platform/frontend-team @austa-platform/compliance-team

# Frontend Authentication Services
src/web/src/app/services/auth/ @austa-platform/frontend-team @austa-platform/security-team

# Infrastructure Configurations
infrastructure/ @austa-platform/devops-team @austa-platform/security-team @austa-platform/tech-leads

# Security Test Suites
src/test/security/ @austa-platform/security-team @austa-platform/qa-team

# Compliance Test Suites
src/test/compliance/ @austa-platform/compliance-team @austa-platform/security-team @austa-platform/qa-team

# CI/CD Workflows
.github/workflows/ @austa-platform/devops-team @austa-platform/security-team

# Core Models with HIPAA/GDPR Requirements
src/backend/app/Models/User.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Document.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/HealthRecord.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Enrollment.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team

# Security Middleware
src/backend/app/Http/Middleware/Authenticate.php @austa-platform/security-team
src/backend/app/Http/Middleware/CheckRole.php @austa-platform/security-team
src/backend/app/Http/Middleware/RateLimiter.php @austa-platform/security-team

# Exception Handling
src/backend/app/Exceptions/ @austa-platform/backend-team @austa-platform/security-team

# Application Configuration
src/backend/config/ @austa-platform/tech-leads @austa-platform/security-team

# Frontend Configuration
src/web/angular.json @austa-platform/frontend-team @austa-platform/tech-leads
src/web/tsconfig.json @austa-platform/frontend-team @austa-platform/tech-leads

# Package Dependencies
package.json @austa-platform/tech-leads @austa-platform/security-team
composer.json @austa-platform/tech-leads @austa-platform/security-team

# Documentation
docs/ @austa-platform/tech-leads @austa-platform/compliance-team

# Database Migrations
src/backend/database/migrations/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
