Repository rodaquino-OMNI/onboarding-next-zq3v3u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @austa-platform/core-team, @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads, @austa-platform/compliance-team, @austa-platform/integration-team, @austa-platform/frontend-team, @austa-platform/devops-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/backend/storage/app/.gitignore
  src/backend/storage/app/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/storage/app/public/.gitignore
  src/backend/storage/app/public/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/storage/framework/cache/.gitignore
  src/backend/storage/framework/cache/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/storage/framework/sessions/.gitignore
  src/backend/storage/framework/sessions/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/storage/framework/testing/.gitignore
  src/backend/storage/framework/testing/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/storage/framework/views/.gitignore
  src/backend/storage/framework/views/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/storage/logs/.gitignore
  src/backend/storage/logs/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/CreatesApplication.php
  src/backend/tests/CreatesApplication.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/TestCase.php
  src/backend/tests/TestCase.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Feature/API/V1/AuthTest.php
  src/backend/tests/Feature/API/V1/AuthTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Feature/API/V1/DocumentTest.php
  src/backend/tests/Feature/API/V1/DocumentTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Feature/API/V1/EnrollmentTest.php
  src/backend/tests/Feature/API/V1/EnrollmentTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Feature/API/V1/HealthRecordTest.php
  src/backend/tests/Feature/API/V1/HealthRecordTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Feature/API/V1/InterviewTest.php
  src/backend/tests/Feature/API/V1/InterviewTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Feature/API/V1/UserTest.php
  src/backend/tests/Feature/API/V1/UserTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Feature/API/V1/WebhookTest.php
  src/backend/tests/Feature/API/V1/WebhookTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Unit/Services/AWS/TextractServiceTest.php
  src/backend/tests/Unit/Services/AWS/TextractServiceTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Unit/Services/EMR/FHIRServiceTest.php
  src/backend/tests/Unit/Services/EMR/FHIRServiceTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Unit/Services/Video/VonageServiceTest.php
  src/backend/tests/Unit/Services/Video/VonageServiceTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/tests/Unit/Services/Webhook/WebhookServiceTest.php
  src/backend/tests/Unit/Services/Webhook/WebhookServiceTest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/.env.example
  src/test/.env.example
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/.gitignore
  src/test/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/README.md
  src/test/README.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/cypress.config.ts
  src/test/cypress.config.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/docker-compose.test.yml
  src/test/docker-compose.test.yml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/package.json
  src/test/package.json
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/accessibility/axe-config.json
  src/test/accessibility/axe-config.json
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/accessibility/color-contrast-tests.spec.ts
  src/test/accessibility/color-contrast-tests.spec.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/accessibility/keyboard-navigation-tests.spec.ts
  src/test/accessibility/keyboard-navigation-tests.spec.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/accessibility/screen-reader-tests.spec.ts
  src/test/accessibility/screen-reader-tests.spec.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/accessibility/wcag-tests.spec.ts
  src/test/accessibility/wcag-tests.spec.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/ci/cleanup-test-env.sh
  src/test/ci/cleanup-test-env.sh
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/ci/github-actions-test.yml
  src/test/ci/github-actions-test.yml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/ci/setup-test-env.sh
  src/test/ci/setup-test-env.sh
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/ci/test-pipeline.sh
  src/test/ci/test-pipeline.sh
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/compliance/gdpr-validation.test.ts
  src/test/compliance/gdpr-validation.test.ts
Owners: @austa-platform/compliance-team, @austa-platform/security-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/test/compliance/hipaa-validation.test.ts
  src/test/compliance/hipaa-validation.test.ts
Owners: @austa-platform/compliance-team, @austa-platform/security-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/test/compliance/lgpd-validation.test.ts
  src/test/compliance/lgpd-validation.test.ts
Owners: @austa-platform/compliance-team, @austa-platform/security-team, @austa-platform/qa-team

.github/CODEOWNERS:

# Requires at least one core team review
* @austa-platform/core-team

# Backend API Controllers - Security critical
src/backend/app/Http/Controllers/API/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/tech-leads

# Authentication & Authorization Services
src/backend/app/Services/Auth/ @austa-platform/security-team @austa-platform/compliance-team

# EMR Integration Services - HIPAA compliance
src/backend/app/Services/EMR/ @austa-platform/integration-team @austa-platform/compliance-team

# Video Conferencing Services
src/backend/app/Services/Video/ @austa-platform/integration-team @austa-platform/security-team

# Frontend Enrollment Components - GDPR/LGPD compliance
src/web/src/app/components/enrollment/ @austa-platform/frontend-team @austa-platform/compliance-team

# Frontend Authentication Services
src/web/src/app/services/auth/ @austa-platform/frontend-team @austa-platform/security-team

# Infrastructure Configurations
infrastructure/ @austa-platform/devops-team @austa-platform/security-team @austa-platform/tech-leads

# Security Test Suites
src/test/security/ @austa-platform/security-team @austa-platform/qa-team

# Compliance Test Suites
src/test/compliance/ @austa-platform/compliance-team @austa-platform/security-team @austa-platform/qa-team

# CI/CD Workflows
.github/workflows/ @austa-platform/devops-team @austa-platform/security-team

# Core Models with HIPAA/GDPR Requirements
src/backend/app/Models/User.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Document.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/HealthRecord.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Enrollment.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team

# Security Middleware
src/backend/app/Http/Middleware/Authenticate.php @austa-platform/security-team
src/backend/app/Http/Middleware/CheckRole.php @austa-platform/security-team
src/backend/app/Http/Middleware/RateLimiter.php @austa-platform/security-team

# Exception Handling
src/backend/app/Exceptions/ @austa-platform/backend-team @austa-platform/security-team

# Application Configuration
src/backend/config/ @austa-platform/tech-leads @austa-platform/security-team

# Frontend Configuration
src/web/angular.json @austa-platform/frontend-team @austa-platform/tech-leads
src/web/tsconfig.json @austa-platform/frontend-team @austa-platform/tech-leads

# Package Dependencies
package.json @austa-platform/tech-leads @austa-platform/security-team
composer.json @austa-platform/tech-leads @austa-platform/security-team

# Documentation
docs/ @austa-platform/tech-leads @austa-platform/compliance-team

# Database Migrations
src/backend/database/migrations/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
