Repository rodaquino-OMNI/onboarding-next-zq3v3u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @austa-platform/core-team, @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads, @austa-platform/compliance-team, @austa-platform/integration-team, @austa-platform/frontend-team, @austa-platform/devops-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/infrastructure/modules/monitoring/grafana.tf
  infrastructure/modules/monitoring/grafana.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/modules/monitoring/jaeger.tf
  infrastructure/modules/monitoring/jaeger.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/modules/monitoring/prometheus.tf
  infrastructure/modules/monitoring/prometheus.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/modules/security/cert-manager.tf
  infrastructure/modules/security/cert-manager.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/modules/security/vault.tf
  infrastructure/modules/security/vault.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/modules/security/waf.tf
  infrastructure/modules/security/waf.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/.env.example
  src/backend/.env.example
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/.gitignore
  src/backend/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/.php-cs-fixer.dist.php
  src/backend/.php-cs-fixer.dist.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/README.md
  src/backend/README.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/artisan
  src/backend/artisan
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/composer.json
  src/backend/composer.json
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/package.json
  src/backend/package.json
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/phpstan.neon
  src/backend/phpstan.neon
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/phpunit.xml
  src/backend/phpunit.xml
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/server.php
  src/backend/server.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Console/Kernel.php
  src/backend/app/Console/Kernel.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Exceptions/Handler.php
  src/backend/app/Exceptions/Handler.php
Owners: @austa-platform/backend-team, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Kernel.php
  src/backend/app/Http/Kernel.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Controllers/API/V1/AuthController.php
  src/backend/app/Http/Controllers/API/V1/AuthController.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Controllers/API/V1/DocumentController.php
  src/backend/app/Http/Controllers/API/V1/DocumentController.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Controllers/API/V1/EnrollmentController.php
  src/backend/app/Http/Controllers/API/V1/EnrollmentController.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Controllers/API/V1/HealthRecordController.php
  src/backend/app/Http/Controllers/API/V1/HealthRecordController.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Controllers/API/V1/InterviewController.php
  src/backend/app/Http/Controllers/API/V1/InterviewController.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Controllers/API/V1/UserController.php
  src/backend/app/Http/Controllers/API/V1/UserController.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Controllers/API/V1/WebhookController.php
  src/backend/app/Http/Controllers/API/V1/WebhookController.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/Authenticate.php
  src/backend/app/Http/Middleware/Authenticate.php
Owners: @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/CheckRole.php
  src/backend/app/Http/Middleware/CheckRole.php
Owners: @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/EncryptCookies.php
  src/backend/app/Http/Middleware/EncryptCookies.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/PreventRequestsDuringMaintenance.php
  src/backend/app/Http/Middleware/PreventRequestsDuringMaintenance.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/RateLimiter.php
  src/backend/app/Http/Middleware/RateLimiter.php
Owners: @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/TrimStrings.php
  src/backend/app/Http/Middleware/TrimStrings.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/TrustProxies.php
  src/backend/app/Http/Middleware/TrustProxies.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/ValidateSignature.php
  src/backend/app/Http/Middleware/ValidateSignature.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Middleware/VerifyCsrfToken.php
  src/backend/app/Http/Middleware/VerifyCsrfToken.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Requests/API/V1/CreateEnrollmentRequest.php
  src/backend/app/Http/Requests/API/V1/CreateEnrollmentRequest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Requests/API/V1/UpdateDocumentRequest.php
  src/backend/app/Http/Requests/API/V1/UpdateDocumentRequest.php
Owners: @austa-platform/core-team

.github/CODEOWNERS:

# Requires at least one core team review
* @austa-platform/core-team

# Backend API Controllers - Security critical
src/backend/app/Http/Controllers/API/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/tech-leads

# Authentication & Authorization Services
src/backend/app/Services/Auth/ @austa-platform/security-team @austa-platform/compliance-team

# EMR Integration Services - HIPAA compliance
src/backend/app/Services/EMR/ @austa-platform/integration-team @austa-platform/compliance-team

# Video Conferencing Services
src/backend/app/Services/Video/ @austa-platform/integration-team @austa-platform/security-team

# Frontend Enrollment Components - GDPR/LGPD compliance
src/web/src/app/components/enrollment/ @austa-platform/frontend-team @austa-platform/compliance-team

# Frontend Authentication Services
src/web/src/app/services/auth/ @austa-platform/frontend-team @austa-platform/security-team

# Infrastructure Configurations
infrastructure/ @austa-platform/devops-team @austa-platform/security-team @austa-platform/tech-leads

# Security Test Suites
src/test/security/ @austa-platform/security-team @austa-platform/qa-team

# Compliance Test Suites
src/test/compliance/ @austa-platform/compliance-team @austa-platform/security-team @austa-platform/qa-team

# CI/CD Workflows
.github/workflows/ @austa-platform/devops-team @austa-platform/security-team

# Core Models with HIPAA/GDPR Requirements
src/backend/app/Models/User.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Document.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/HealthRecord.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Enrollment.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team

# Security Middleware
src/backend/app/Http/Middleware/Authenticate.php @austa-platform/security-team
src/backend/app/Http/Middleware/CheckRole.php @austa-platform/security-team
src/backend/app/Http/Middleware/RateLimiter.php @austa-platform/security-team

# Exception Handling
src/backend/app/Exceptions/ @austa-platform/backend-team @austa-platform/security-team

# Application Configuration
src/backend/config/ @austa-platform/tech-leads @austa-platform/security-team

# Frontend Configuration
src/web/angular.json @austa-platform/frontend-team @austa-platform/tech-leads
src/web/tsconfig.json @austa-platform/frontend-team @austa-platform/tech-leads

# Package Dependencies
package.json @austa-platform/tech-leads @austa-platform/security-team
composer.json @austa-platform/tech-leads @austa-platform/security-team

# Documentation
docs/ @austa-platform/tech-leads @austa-platform/compliance-team

# Database Migrations
src/backend/database/migrations/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
