Repository rodaquino-OMNI/onboarding-next-zq3v3u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @austa-platform/core-team, @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads, @austa-platform/compliance-team, @austa-platform/integration-team, @austa-platform/frontend-team, @austa-platform/devops-team, @austa-platform/qa-team

.github/CODEOWNERS:

# Requires at least one core team review
* @austa-platform/core-team

# Backend API Controllers - Security critical
src/backend/app/Http/Controllers/API/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/tech-leads

# Authentication & Authorization Services
src/backend/app/Services/Auth/ @austa-platform/security-team @austa-platform/compliance-team

# EMR Integration Services - HIPAA compliance
src/backend/app/Services/EMR/ @austa-platform/integration-team @austa-platform/compliance-team

# Video Conferencing Services
src/backend/app/Services/Video/ @austa-platform/integration-team @austa-platform/security-team

# Frontend Enrollment Components - GDPR/LGPD compliance
src/web/src/app/components/enrollment/ @austa-platform/frontend-team @austa-platform/compliance-team

# Frontend Authentication Services
src/web/src/app/services/auth/ @austa-platform/frontend-team @austa-platform/security-team

# Infrastructure Configurations
infrastructure/ @austa-platform/devops-team @austa-platform/security-team @austa-platform/tech-leads

# Security Test Suites
src/test/security/ @austa-platform/security-team @austa-platform/qa-team

# Compliance Test Suites
src/test/compliance/ @austa-platform/compliance-team @austa-platform/security-team @austa-platform/qa-team

# CI/CD Workflows
.github/workflows/ @austa-platform/devops-team @austa-platform/security-team

# Core Models with HIPAA/GDPR Requirements
src/backend/app/Models/User.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Document.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/HealthRecord.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Enrollment.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team

# Security Middleware
src/backend/app/Http/Middleware/Authenticate.php @austa-platform/security-team
src/backend/app/Http/Middleware/CheckRole.php @austa-platform/security-team
src/backend/app/Http/Middleware/RateLimiter.php @austa-platform/security-team

# Exception Handling
src/backend/app/Exceptions/ @austa-platform/backend-team @austa-platform/security-team

# Application Configuration
src/backend/config/ @austa-platform/tech-leads @austa-platform/security-team

# Frontend Configuration
src/web/angular.json @austa-platform/frontend-team @austa-platform/tech-leads
src/web/tsconfig.json @austa-platform/frontend-team @austa-platform/tech-leads

# Package Dependencies
package.json @austa-platform/tech-leads @austa-platform/security-team
composer.json @austa-platform/tech-leads @austa-platform/security-team

# Documentation
docs/ @austa-platform/tech-leads @austa-platform/compliance-team

# Database Migrations
src/backend/database/migrations/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/test/monitoring/metrics-validation.test.ts
  src/test/monitoring/metrics-validation.test.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/monitoring/tracing-validation.test.ts
  src/test/monitoring/tracing-validation.test.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/reports/accessibility-reporter.ts
  src/test/reports/accessibility-reporter.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/reports/cypress-reporter.ts
  src/test/reports/cypress-reporter.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/reports/jest-reporter.ts
  src/test/reports/jest-reporter.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/reports/k6-reporter.ts
  src/test/reports/k6-reporter.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/reports/security-reporter.ts
  src/test/reports/security-reporter.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/security/owasp-dependency-check.json
  src/test/security/owasp-dependency-check.json
Owners: @austa-platform/security-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/test/security/zap-api-scan.conf
  src/test/security/zap-api-scan.conf
Owners: @austa-platform/security-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/test/security/zap-baseline.conf
  src/test/security/zap-baseline.conf
Owners: @austa-platform/security-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/test/security/zap-full-scan.conf
  src/test/security/zap-full-scan.conf
Owners: @austa-platform/security-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/test/utils/api-client.ts
  src/test/utils/api-client.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/utils/data-generators.ts
  src/test/utils/data-generators.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/utils/db-cleaner.ts
  src/test/utils/db-cleaner.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/utils/file-upload-helper.ts
  src/test/utils/file-upload-helper.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/test/utils/test-helpers.ts
  src/test/utils/test-helpers.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/.browserslistrc
  src/web/.browserslistrc
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/.editorconfig
  src/web/.editorconfig
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/.eslintignore
  src/web/.eslintignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/.gitignore
  src/web/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/.prettierignore
  src/web/.prettierignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/.prettierrc
  src/web/.prettierrc
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/README.md
  src/web/README.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/angular.json
  src/web/angular.json
Owners: @austa-platform/frontend-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/web/capacitor.config.ts
  src/web/capacitor.config.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/ionic.config.json
  src/web/ionic.config.json
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/ngsw-config.json
  src/web/ngsw-config.json
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/package.json
  src/web/package.json
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/web/tsconfig.app.json
  src/web/tsconfig.app.json
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @austa-platform/frontend-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/src/web/tsconfig.spec.json
  src/web/tsconfig.spec.json
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/src/index.html
  src/web/src/index.html
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/src/main.ts
  src/web/src/main.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/src/manifest.webmanifest
  src/web/src/manifest.webmanifest
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/src/polyfills.ts
  src/web/src/polyfills.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/src/styles.scss
  src/web/src/styles.scss
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/src/test.ts
  src/web/src/test.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/src/app/app-routing.module.ts
  src/web/src/app/app-routing.module.ts
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/web/src/app/app.component.html
  src/web/src/app/app.component.html
Owners: @austa-platform/core-team
