Repository rodaquino-OMNI/onboarding-next-zq3v3u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @austa-platform/core-team, @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads, @austa-platform/compliance-team, @austa-platform/integration-team, @austa-platform/frontend-team, @austa-platform/devops-team, @austa-platform/qa-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Requests/API/V1/UpdateHealthRecordRequest.php
  src/backend/app/Http/Requests/API/V1/UpdateHealthRecordRequest.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Resources/API/V1/DocumentResource.php
  src/backend/app/Http/Resources/API/V1/DocumentResource.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Resources/API/V1/EnrollmentResource.php
  src/backend/app/Http/Resources/API/V1/EnrollmentResource.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Resources/API/V1/HealthRecordResource.php
  src/backend/app/Http/Resources/API/V1/HealthRecordResource.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Resources/API/V1/InterviewResource.php
  src/backend/app/Http/Resources/API/V1/InterviewResource.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Http/Resources/API/V1/UserResource.php
  src/backend/app/Http/Resources/API/V1/UserResource.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Jobs/ProcessDocument.php
  src/backend/app/Jobs/ProcessDocument.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Jobs/ProcessEnrollment.php
  src/backend/app/Jobs/ProcessEnrollment.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Jobs/SendWebhook.php
  src/backend/app/Jobs/SendWebhook.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Models/Document.php
  src/backend/app/Models/Document.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Models/Enrollment.php
  src/backend/app/Models/Enrollment.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Models/HealthRecord.php
  src/backend/app/Models/HealthRecord.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Models/Interview.php
  src/backend/app/Models/Interview.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Models/User.php
  src/backend/app/Models/User.php
Owners: @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Notifications/EnrollmentCompleted.php
  src/backend/app/Notifications/EnrollmentCompleted.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Notifications/InterviewScheduled.php
  src/backend/app/Notifications/InterviewScheduled.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Providers/AppServiceProvider.php
  src/backend/app/Providers/AppServiceProvider.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Providers/AuthServiceProvider.php
  src/backend/app/Providers/AuthServiceProvider.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Providers/BroadcastServiceProvider.php
  src/backend/app/Providers/BroadcastServiceProvider.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Providers/EventServiceProvider.php
  src/backend/app/Providers/EventServiceProvider.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Providers/RouteServiceProvider.php
  src/backend/app/Providers/RouteServiceProvider.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Services/AWS/TextractService.php
  src/backend/app/Services/AWS/TextractService.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Services/EMR/FHIRService.php
  src/backend/app/Services/EMR/FHIRService.php
Owners: @austa-platform/integration-team, @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Services/Video/VonageService.php
  src/backend/app/Services/Video/VonageService.php
Owners: @austa-platform/integration-team, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/app/Services/Webhook/WebhookService.php
  src/backend/app/Services/Webhook/WebhookService.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/bootstrap/app.php
  src/backend/bootstrap/app.php
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/bootstrap/cache/.gitignore
  src/backend/bootstrap/cache/.gitignore
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/app.php
  src/backend/config/app.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/auth.php
  src/backend/config/auth.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/broadcasting.php
  src/backend/config/broadcasting.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/cache.php
  src/backend/config/cache.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/cors.php
  src/backend/config/cors.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/database.php
  src/backend/config/database.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/filesystems.php
  src/backend/config/filesystems.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/hashing.php
  src/backend/config/hashing.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/logging.php
  src/backend/config/logging.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/mail.php
  src/backend/config/mail.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/queue.php
  src/backend/config/queue.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/sanctum.php
  src/backend/config/sanctum.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/src/backend/config/services.php
  src/backend/config/services.php
Owners: @austa-platform/tech-leads, @austa-platform/security-team

.github/CODEOWNERS:

# Requires at least one core team review
* @austa-platform/core-team

# Backend API Controllers - Security critical
src/backend/app/Http/Controllers/API/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/tech-leads

# Authentication & Authorization Services
src/backend/app/Services/Auth/ @austa-platform/security-team @austa-platform/compliance-team

# EMR Integration Services - HIPAA compliance
src/backend/app/Services/EMR/ @austa-platform/integration-team @austa-platform/compliance-team

# Video Conferencing Services
src/backend/app/Services/Video/ @austa-platform/integration-team @austa-platform/security-team

# Frontend Enrollment Components - GDPR/LGPD compliance
src/web/src/app/components/enrollment/ @austa-platform/frontend-team @austa-platform/compliance-team

# Frontend Authentication Services
src/web/src/app/services/auth/ @austa-platform/frontend-team @austa-platform/security-team

# Infrastructure Configurations
infrastructure/ @austa-platform/devops-team @austa-platform/security-team @austa-platform/tech-leads

# Security Test Suites
src/test/security/ @austa-platform/security-team @austa-platform/qa-team

# Compliance Test Suites
src/test/compliance/ @austa-platform/compliance-team @austa-platform/security-team @austa-platform/qa-team

# CI/CD Workflows
.github/workflows/ @austa-platform/devops-team @austa-platform/security-team

# Core Models with HIPAA/GDPR Requirements
src/backend/app/Models/User.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Document.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/HealthRecord.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Enrollment.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team

# Security Middleware
src/backend/app/Http/Middleware/Authenticate.php @austa-platform/security-team
src/backend/app/Http/Middleware/CheckRole.php @austa-platform/security-team
src/backend/app/Http/Middleware/RateLimiter.php @austa-platform/security-team

# Exception Handling
src/backend/app/Exceptions/ @austa-platform/backend-team @austa-platform/security-team

# Application Configuration
src/backend/config/ @austa-platform/tech-leads @austa-platform/security-team

# Frontend Configuration
src/web/angular.json @austa-platform/frontend-team @austa-platform/tech-leads
src/web/tsconfig.json @austa-platform/frontend-team @austa-platform/tech-leads

# Package Dependencies
package.json @austa-platform/tech-leads @austa-platform/security-team
composer.json @austa-platform/tech-leads @austa-platform/security-team

# Documentation
docs/ @austa-platform/tech-leads @austa-platform/compliance-team

# Database Migrations
src/backend/database/migrations/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
