Repository rodaquino-OMNI/onboarding-next-zq3v3u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @austa-platform/core-team, @austa-platform/backend-team, @austa-platform/security-team, @austa-platform/tech-leads, @austa-platform/compliance-team, @austa-platform/integration-team, @austa-platform/frontend-team, @austa-platform/devops-team, @austa-platform/qa-team

.github/CODEOWNERS:

# Requires at least one core team review
* @austa-platform/core-team

# Backend API Controllers - Security critical
src/backend/app/Http/Controllers/API/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/tech-leads

# Authentication & Authorization Services
src/backend/app/Services/Auth/ @austa-platform/security-team @austa-platform/compliance-team

# EMR Integration Services - HIPAA compliance
src/backend/app/Services/EMR/ @austa-platform/integration-team @austa-platform/compliance-team

# Video Conferencing Services
src/backend/app/Services/Video/ @austa-platform/integration-team @austa-platform/security-team

# Frontend Enrollment Components - GDPR/LGPD compliance
src/web/src/app/components/enrollment/ @austa-platform/frontend-team @austa-platform/compliance-team

# Frontend Authentication Services
src/web/src/app/services/auth/ @austa-platform/frontend-team @austa-platform/security-team

# Infrastructure Configurations
infrastructure/ @austa-platform/devops-team @austa-platform/security-team @austa-platform/tech-leads

# Security Test Suites
src/test/security/ @austa-platform/security-team @austa-platform/qa-team

# Compliance Test Suites
src/test/compliance/ @austa-platform/compliance-team @austa-platform/security-team @austa-platform/qa-team

# CI/CD Workflows
.github/workflows/ @austa-platform/devops-team @austa-platform/security-team

# Core Models with HIPAA/GDPR Requirements
src/backend/app/Models/User.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Document.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/HealthRecord.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team
src/backend/app/Models/Enrollment.php @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team

# Security Middleware
src/backend/app/Http/Middleware/Authenticate.php @austa-platform/security-team
src/backend/app/Http/Middleware/CheckRole.php @austa-platform/security-team
src/backend/app/Http/Middleware/RateLimiter.php @austa-platform/security-team

# Exception Handling
src/backend/app/Exceptions/ @austa-platform/backend-team @austa-platform/security-team

# Application Configuration
src/backend/config/ @austa-platform/tech-leads @austa-platform/security-team

# Frontend Configuration
src/web/angular.json @austa-platform/frontend-team @austa-platform/tech-leads
src/web/tsconfig.json @austa-platform/frontend-team @austa-platform/tech-leads

# Package Dependencies
package.json @austa-platform/tech-leads @austa-platform/security-team
composer.json @austa-platform/tech-leads @austa-platform/security-team

# Documentation
docs/ @austa-platform/tech-leads @austa-platform/compliance-team

# Database Migrations
src/backend/database/migrations/ @austa-platform/backend-team @austa-platform/security-team @austa-platform/compliance-team

Add public-samples/onboarding-next-zq3v3u/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @austa-platform/devops-team, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @austa-platform/devops-team, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/.github/workflows/infrastructure-ci.yml
  .github/workflows/infrastructure-ci.yml
Owners: @austa-platform/devops-team, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @austa-platform/devops-team, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @austa-platform/devops-team, @austa-platform/security-team

Add public-samples/onboarding-next-zq3v3u/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @austa-platform/core-team

Add public-samples/onboarding-next-zq3v3u/infrastructure/terraform.tfvars.example
  infrastructure/terraform.tfvars.example
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/versions.tf
  infrastructure/versions.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/cloudfront.tf
  infrastructure/aws/cloudfront.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/ecr.tf
  infrastructure/aws/ecr.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/ecs.tf
  infrastructure/aws/ecs.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/elasticache.tf
  infrastructure/aws/elasticache.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/iam.tf
  infrastructure/aws/iam.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/kms.tf
  infrastructure/aws/kms.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/main.tf
  infrastructure/aws/main.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/outputs.tf
  infrastructure/aws/outputs.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/rds.tf
  infrastructure/aws/rds.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/route53.tf
  infrastructure/aws/route53.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/s3.tf
  infrastructure/aws/s3.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/ses.tf
  infrastructure/aws/ses.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/variables.tf
  infrastructure/aws/variables.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/vpc.tf
  infrastructure/aws/vpc.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/aws/waf.tf
  infrastructure/aws/waf.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/cloudsql.tf
  infrastructure/gcp/cloudsql.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/gcs.tf
  infrastructure/gcp/gcs.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/gke.tf
  infrastructure/gcp/gke.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/iam.tf
  infrastructure/gcp/iam.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/kms.tf
  infrastructure/gcp/kms.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/main.tf
  infrastructure/gcp/main.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/memorystore.tf
  infrastructure/gcp/memorystore.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/outputs.tf
  infrastructure/gcp/outputs.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/variables.tf
  infrastructure/gcp/variables.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/gcp/vpc.tf
  infrastructure/gcp/vpc.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads

Add public-samples/onboarding-next-zq3v3u/infrastructure/modules/monitoring/cloudwatch.tf
  infrastructure/modules/monitoring/cloudwatch.tf
Owners: @austa-platform/devops-team, @austa-platform/security-team, @austa-platform/tech-leads
